body {
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h2, h3, p {
    -webkit-margin-after: 10px; 
    -webkit-margin-before: 10px; 
}


p, ul {
    font-size: 16px;
}

.image {
    width: 100%;
}

.container {
    width: 100vw;
    display: flex;
}

.section {
    width: 50%;
    margin: 10px;
    margin-left: 20px;    
}

.subsection {
    margin: 16px;
    margin-top: 32px;    
}